<section id="content" class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-8">
  <div class="page-header">
    <h2>Works ({{ count }})</h2>
  </div>
    <div class="form-group">
      <input placeholder="Search" data-ng-model="query.name" ng-disabled="isDisabled" type="text">
    </div>
  <div class="col-md-4 col-md-offset-0 col-xs-6 col-xs-offset-0 ng-scope" style="height:255px !important;" data-ng-repeat="project in projects | filter: query | orderBy: 'name':true">
    <div class="panel panel-default" style="height: 232px !important;">
    <div class="panel-heading">
        <a href="https://github.com/chalasr/{{ project.name }}.git">
            <div class="panel-title-area projname">{{ project.name }}</div>
            <div class="text-right starforks">
              <span>{{ project.stargazers_count }} <i class="fa fa-star fa-fw"></i></span>
              <span>{{ project.forks_count }}<i class="fa fa-code-fork fa-fw"></i></span>
            </div>
        </a>
    </div>
    <div class="panel-body fork-info">
    </div>
    <div class="panel-body description text-center">
      <span>{{ project.description }}</span>
      <div class="panel-body">
        <div class="row">
        </div>
      </div>
    </div>
  </div>
</div>
</section>
