<section style="width: 56%;" id="content" class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
  <div class="page-header">
    <h2>About web</h2>
  </div>
  <div class="panel panel-default">
    <div id="symfonysection" class="panel-heading">
      <p><a href="#symfonysection">#Symfony</a></p>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="/symfony/REST.html">REST APIs with Symfony2: The Right Way</a></li>
      <li class="list-group-item"><a href="/symfony/bundles.html">Bundles Structure, Best practices</a></li>
      <li class="list-group-item"><a href="/symfony/capifony.html">Introduction to Capifony, for deploying easily</a></li>
    </ul>
    <div id="angularsection" class="panel-heading">
      <p><a href="#angularsection">#AngularJS</a></p>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a href="/angular/organization.html">Code organization in AngularJS applications</a></li>
      <li class="list-group-item"><a href="/angular/styleguide.html">AngularJS style guide</a></li>
    </ul>
  </div>
</section>
