<section style="width: 56%;" id="content" class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
  <div class="page-header">
    <h2>Books I've read</h2>
  </div>
  <div class="panel panel-default">
    <div id="js" class="panel-heading">
      <p><a href="#js">#Web</a></p>
    </div>
    <ul class="list-group">
      <li class="list-group-item"><a target="_blank" href="/books/Building-web-apps-with-Node.js.pdf">Building web apps with Node.JS</a></li>
      <li class="list-group-item"><a target="_blank" href="/books/Devenez_un_Ninja_avec_AngularJS.pdf">Devenez un Ninja avec AngularJS</a></li>
      <li class="list-group-item"><a target="_blank" href="/books/CoffeeScript.pdf">CoffeeScript: Accelerated Javascript Development</a></li>
      <li class="list-group-item"><a target="_blank" href="/books/ProGit.pdf">Pro Git</a></li>
    </ul>
  </div>
</section>
