<section id="content" class="col-sm-offset-3 col-lg-offset-2 col-sm-9 col-lg-10">
    <h2>Hi, I'm Robin !</h2>
    <p>Web Development is my passion and my work, everydays.</p>
  <div id="tweetline" style="display:flex;">
    <div class="aboutme">
      <p>
        I conceive flexible, scalable and optimized backends for web app. <br>
        Specialized in three strong development tools : <b>Symfony</b>, <b>AngularJS</b> and <b>Express</b>, <br>
        on two different and large stacks : <b>PHP</b> and <b>NodeJS</b> .
        <br><br>
        <b>Symfony</b> is a PHP framework, with more than 80% of PHP websites build with. <br>
        <b>Express</b> is a NodeJS framework, a full Javascript platform optimized for real-time apps. <br>
        Have a good language is great, but have a great ecosystem is even better. <br>
        PHP and NodeJS ecosystem has evolved a lot in the last few years. <br>
        Symfony and Node communities represents a big percentage of web developers, <br>
        This is what make their <b>strength</b> and <b>development speed</b>.
      </p>
    </div>
    <a class="twitter-timeline" href="https://twitter.com/chalasdev" data-widget-id="568145579935821824">Tweets de @chalasdev</a>
    <script>
        !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
  </div>
  <div id="disqus_thread"></div>
  <script type="text/javascript">
  /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
  var disqus_shortname = 'chaladev'; // required: replace example with your forum shortname

  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
</section>
